<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genorder.mapper.AccountStoreMapper">

    <select id="listMember" resultType="com.genorder.dto.MemberDTO">
        SELECT
            t2.tenant_name,
            account_id,
            store_name AS NAME
        FROM
            t_account_store t1
                LEFT JOIN sys_tenant t2 ON t1.tenant_id = t2.id
        WHERE
            t2.tenant_name LIKE '%X'
    </select>
</mapper>
