<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genorder.mapper.MachineShelfMapper">


    <select id="listDeliver" resultType="com.genorder.dto.DeliverDTO">
        SELECT
            t1.machine_id AS id,
            t2.machine_name AS NAME
        FROM
            ( SELECT machine_id FROM t_machine_shelf WHERE deleted = 0 GROUP BY machine_id ) t1
                LEFT JOIN t_machine t2 ON t1.machine_id = t2.machine_id
    </select>

    <select id="listGoods" resultType="com.genorder.dto.MachineShelfDTO">
        select
            *
        from t_machine_shelf
        where machine_id = #{deliverId}
    </select>

</mapper>
